
.badge-container{
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
}

[class*=-badge]{
    width: auto;
    border: whitesmoke;
    box-shadow: 0 0 3px 2px rgba(129, 129, 129, 0.4);
    background: rgb(247, 243, 243);
    padding: 5px 15px;
    border-radius: 40px;
}

.gh-badge::before{
    content: url('../img/github.svg');
}

.bili-badge::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background:url('../img/bilibili.ico');
    background-size:cover;
    background-position: 0px 1px;
    background-repeat: no-repeat;
    overflow-y: visible;
}

[class*=-badge]:hover::after{
    content: '〉';
}