*{
    box-sizing: border-box;
}

body{
    font-family: 
    'Century Schoolbook','Times New Roman',
    "微软雅黑 Light", "新宋体",
    Courier, monospace;
    line-height: 1.7;
    background-color: #777;
}

.side-bar,
footer {
    font-family: 
    "微软雅黑 Light", "新宋体",
    Courier, monospace;
    float: left;
    width: 20%;
    color: #eee;
    position: fixed;
}

.side-bar > *{
    padding: 15px 20px;
}

.side-bar .nav a,
.side-bar .footer a, 
footer a{
    display: block;
    color: #eee;
    opacity: 0.5;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.side-bar .nav a:hover,
.side-bar .footer a:hover,
footer a:hover {
    opacity: 1;
}

.side-bar a,
.article-list .item .title,
footer a, 
.article .content a {
    text-decoration: none;
    align-content: center;
}

.article-list .item a:hover,
.article .content a{
    color: lightslategray;
}

.article .content a:hover{
    color: black;
}

.main {
    float: right;
    width: 80%;
}

.header .logo {
    padding: 10px 20px;
    font-size: larger;
    display: inline-block;
    border: 5px solid #eee;
    color: #eee;
    margin-bottom: 10px;
    font-family: "微软雅黑";
}

.item_s {
    font-size: smaller;
}

.article-list,
.article {
    margin-right: 20%;
    padding: 20px 30px;
    background-color: #eee;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    font-family: 
    'Century Schoolbook','Times New Roman',
    "新宋体","微软雅黑 Light";
}

.article-list .item {
    margin-bottom: 30px;
}

.article-list .item > * {
    margin: 10px 0;
}

.article-list .item .title{
    color: #454545;
    font-size: larger;
    font-weight: bold;
}

.article-list .item .status {
    font-size: small;
    color:darkgray;
}

.article .status {
    color:darkgray;
}

#menu-checkbox{
    display: none;
}

#menu-toggle {
    display: none;
}

footer{
    display: none;
}

span{
    font-family: Consolas, 'Courier New', monospace;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightgrey;
    margin: 0 0.5em;
    padding: 0 0.15em;
}