*{
    box-sizing: border-box;
}

body{
    font-family: 
    'Century Schoolbook','Times New Roman',
    "微软雅黑 Light", "新宋体",
    Courier, monospace;
    line-height: 1.7;
    background-color: #777;
}

.side-bar,
footer,#side-menu,#bottom-link a button{
    font-family: 
    "微软雅黑 Light", "新宋体",
    Courier, monospace;
    float: left;
    width: 20%;
    color: #eee;
    position: fixed;
}

.side-bar > *{
    padding: 15px 20px;
}

.side-bar .nav a,
.side-bar .footer a, 
footer a,
#side-menu a{
    display: block;
    color: #eee;
    opacity: 0.5;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.side-bar .nav a:hover,
.side-bar .footer a:hover,
footer a:hover,
#side-menu a:hover{
    opacity: 1;
}

.side-bar a,
.article-list .item .title,
footer a, 
.article .content a,
#side-menu a{
    text-decoration: none;
    align-content: center;
}

.article-list .item a:hover,
.article .content a{
    color: lightslategray;
}

.article .content a:hover{
    color: black;
}

.main {
    float: right;
    width: 80%;
}

.header .logo {
    padding: 10px 20px;
    font-size: larger;
    display: inline-block;
    border: 5px solid #eee;
    color: #eee;
    margin-bottom: 10px;
    font-family: "微软雅黑";
}

.item_s,
#bottom-link a button,
#side-menu a{
    font-size: smaller;
}

.article-list,
.article {
    margin-right: 20%;
    padding: 20px 30px;
    background-color: #eee;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    font-family: 
    'Century Schoolbook','Times New Roman',
    "新宋体","微软雅黑 Light";
}

.article-list .item {
    margin-bottom: 30px;
}

.article-list .item > * {
    margin: 10px 0;
}

.article-list .item .title{
    color: #454545;
    font-size: larger;
    font-weight: bold;
}

.article-list .item .status {
    font-size: small;
}

.article-list .item .status,
.article .status {
    color:darkgray;
}

#menu-checkbox,
#menu-toggle,
footer{
    display: none;
}

span{
    font-family: Consolas, 'Courier New', monospace;
    border: 0.5px solid gray;
    border-radius: 3px;
    background-color: rgba(211, 211, 211, 0.4);
    margin: 0 0.5em;
    padding: 0 0.15em;
    font-size: small;
}

pre {
    font-family: Consolas,'Courier New', monospace;
    font-size: small;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 20px;
    white-space: pre-wrap;
    white-space: -pre-wrap;
    word-wrap: break-word;
}

.toutu {
    border: whitesmoke;
    box-shadow: 0 0 3px 2px rgba(129, 129, 129, 0.4);
    background: rgb(247, 243, 243);
    padding: 5px 15px;
}

.toutu,
details {
    border-radius: 5px;
}

.toutu span {
    background: transparent;
}

.toutu,
.toutu span,
summary{
    font-family: 'Consolas',
    "微软雅黑 Light", "新宋体",
    Courier, monospace;
}

.con {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

details {
    padding: .5em .5em;
    box-shadow: 3px 2px 3px 2px rgba(129, 129, 129, 0.4);
}

details[open] {
    border: none;
    box-shadow: none;
}

progress {
    display: none;
}

.rightcol {
    display: flexbox;
    width: 14%;
    height: auto;
    position: fixed;
    right: 1%;
    top: 10px;
}

#loadbar
{
    width:5%;
    background-color: #333;
    position:relative; 
    float: left;
    border-radius: 5px;
}
#bar
{
    width:100%;
    display:block;        
    font-family:arial;
    font-size:12px; 
    background-color:#78a1bb;
    position:absolute;
    top:0;  
    border-radius: 5px;      
}
#side-menu{
    width: 95%;
    float: right;
    position: relative;
    padding: 0 3px;
    margin: 0 0;
}
#side-menu div {
    list-style: none;
    padding-left: -10;
    line-height: 1.4;
    position: absolute;
}

#bottom-link {
    display: none;
}

.status{
    position: relative;
    margin: 48px 0;
}

.status::before,
.status::after {
    content: "";
    display: block;
    height: 16px;
    width: 200px;
    background-color: #b5c8cf;
    bottom: -28px;
    position: absolute;
    border-radius: 6px;
    top: -14px;
}

.item .status::before,
.item .status::after {
    height: 10px;
    top: -10px;
}

.status::before {
    box-shadow: 0 0 6px rgba(75, 207, 250, 0.2);
}

.status::after {
    background-image: linear-gradient(90deg, #afe8fd, #d7faf9);
    box-shadow: 0 0 10px rgba(176, 239, 255, 0.2);
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#pgshidden {
    margin: 0 0;
}
#pgshidden::before,
#pgshidden::after {
    display: none;
}
#roadmap::after {animation-name: roadmap;}
#CH01::after {animation-name: CH01;}
#CH02::after {animation-name: CH02;}
#CH03::after {animation-name: CH03;}
#CH04::after {animation-name: CH04;}

@keyframes roadmap {
    from {width: 0;}
    to {width: 45px;}
}

@keyframes CH01 {
    from {width: 0;}
    to {width: 0;}
}

@keyframes CH02 {
    from {width: 0;}
    to {width: 70px;}
}

@keyframes CH03 {
    from {width: 0;}
    to {width: 100px;}
}

@keyframes CH04 {
    from {width: 0;}
    to {width: 55px;}
}