.side-bar,
footer {
    position: relative;
    width: 100%;
    float: none;
}

.main{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.article-list,
.article{
    margin: 0;
}

.side-bar .nav{
    display: none;
    text-align: center;
}

#menu-checkbox:checked ~ .nav{
    display: block;
}

#menu-toggle{
    display: block;
}

#menu-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.footer{
    display: none;
}

footer{
    display: block;
    padding: 20px 10px;
    overflow: hidden;
}

.header{
    padding: 15px 10px;
}

progress {
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 12;
    /* Reset the apperance */
    
    max-width: 85%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #78a1bb;
}
progress::-webkit-progress-bar {
    background-color: #333;
    opacity: 0.75;
    height: 12px;
}
progress::-webkit-progress-value {
    background-color: #78a1bb;
    height: 12px;
}
progress::-moz-progress-bar {
    background-color: coral;
}