.graphTab ul{
    list-style-type: none;
    padding-left: 0px;
}

.tab_nav{
    display: flex;
    margin-bottom: 0;
}

.tab_nav li {
    padding: 0px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: flex;
    position: relative;
    overflow: hidden;
    font-family: '黑体';
    margin-right: 2px;
}

.tab_nav li:hover{
    background-color: blanchedalmond;
}

.tabNav_active{
    background-color: blanchedalmond !important;
}

.tab_box{
    position: relative;
    min-height: 250px;
    padding: 2em;
    background-color: bisque;
    margin: 0;
}

.tab_box li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    /* display: flex !important; */
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
}

.tabBox_active {
    visibility: visible !important;
    opacity: 1 !important;
}

.tab_info {
    background-color: cornsilk;
    display: block;
    border-bottom-right-radius: 10px;
    min-height: 300px;
}

.tab_info ul{
    margin: 0;
}

#tab_code {
    float: left;
}

.tipframe{
    text-align: center;
}

.tipframe .tipbox {
    display: inline-block;
    width: calc(31% - 5px);
    margin: 0px 2.5px;
    align-items: center;
    text-align: left;
}

.tipframe .tipcode {
    height: 0px;
    transition: 0.5s;
}

.tipframe .tipbox:hover > a .toutu .tipcode {
    height: 260px;
}

#pgfCorrect {
    background-color: gray;
    color: white;
}

#pgfCorrect .tipcode{
    filter: invert(100%);
}

#bigImg {
    opacity: 0%;
    transition: 0.5s;
}

#tipimg:hover > a .toutu #bigImg {
    opacity: 100%;
}

.stycon {
    background-color: white;
}

.stycon div {
    font-family: Consolas,'Courier New', Courier, monospace; 
}

.header {
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 10px;
}

.markheader {
    border-bottom: 1px solid gray;
    color: gray;
    margin-bottom: 10px;
}

#plotmarks,
#colorbrewer {
    display: flex; 
    width: 100%; 
    flex-wrap: wrap; 
    text-align: center;
    justify-content: flex-start;
}

.markblock {
    width: calc(33% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}

.colorline {
    display: flex;
}

.colorline:hover {
    color: black;
}

.colorblock {
    width: 33%;
    text-align: center;
}

.colorsblock:hover{
    border: 1px solid black;
}

.colorsblock {
    width: 12px;
    height: 22px;
    display: inline-flex;
    color: gray;
}
